*{
    background-color:  white;
    text-align: justify;
}



header h1{
    margin: 2%;
    color: cadetblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header p{
    margin: 2%;
    color: dimgray;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}


#res{
    color: cadetblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

#CalculoIMC{
    margin-left: 20%;
    margin-top: 3%;
}


#Img{
    text-align: center;
    margin-right: auto;
    margin-left: 8%;
}

#Inicio{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: space-between;
    margin-bottom: 3%;
}


input{
    text-align: center;
    height: 18%;
    width: auto;
    border-color: cadetblue;
    display: flex;
    border-radius: 15px;
    color: dimgray;
}

button:hover {
    box-shadow: dimgray 0px 5px 10px;
    opacity: 1.0;
}

button{
    text-align: center;
    height: 18%;
    width: auto;
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    -ms-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    opacity: 0.5;
    color: white;
    background-color: cadetblue;
    border: none;
    line-height: 35px;
    border-radius: 15px;
    padding: 0px 20px;
}

